// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

$theme := {
  primary: "#F5F5F5",
  secondary: "#BDBDBD",
  accent: "#03A9F4",
  error: "#FF5722",
  warning: "#ffeb3b",
  info: "#00B0FF",
  success: "#4caf50"
}

.page
  @extend .fade-transition

@require '~vuetify/src/stylus/main.styl'